<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">

<head>
  <meta charset="ISO-8859-1">
  <title>Categorie</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div layout:fragment="content1">

<div class="container">
  <div class="container my-2">
    <h1>Liste des categorie</h1>
    <a th:href = "@{/showNewCategorieForm}" class="btn btn-primary btn-sm mb-3" style="margin-bottom: 3px;"> Ajouter une Categorie</a>

    <table border="1" class = "table">
      <thead thead class="thead-dark">
      <tr>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '?sortField=lebelle&sortDir=' + ${reverseSortDir}}">lebelle</a>
        </th>
        <th style="width: 11%"> Actions </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="categorie : ${ListCategorie}">
        <td th:text="${categorie.libelle}"></td>
        <!--<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
          <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
        </td>-->
      </tr>
      </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
      <div class = "row col-sm-10">
        <div class = "col-sm-2">
          Total Rows: [[${totalItems}]]
        </div>
        <div class = "col-sm-1">
                     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                     </span>
        </div>
        <div class = "col-sm-1">
          <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
          <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
          <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
          <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
      </div>
    </div>
  </div>
  Welcome <span sec:authentication="principal.username"> User</span>
</div>
</div>
</body>
</html>

</html>
